@import url(config.css);

.S {
    border-radius: var(--border-radius-small);
    box-shadow: rgb(71, 70, 70);
    font-size: var(--font-size-midle-1);
    background-color: var(--color-blue-1);
    color: var(--color-white-default);
    width: 150px;
    height: 50px;
    margin-left: 2px;
}

.S:hover {
    background-color: var(--color-blue-2);
}

.inp {
    border: var(--border-radius-small) solid var(--color-black-default);
    width: 300px;
    height: 46px;
    font-size: var(--font-size-normal);
    font-family: var(--font-family-calibri);
    color: var(--color-black-darken-1);
    float: left;   
}

.imput::placeholder {
    color: var(--color-black-darken-1);
    font-size: var(--font-size-normal);
    font-family: var(--font-family-calibri); 
}

select {
    width: 150px;
    height: 50px;
    font-size: var(--font-size-normal);
    font-family: var(--font-family-calibri);
    color: var(--color-black-darken-1);
    margin-left: 2px;   
}

.option {
    background: var(--color-white-default);
    float: left;     
}