@import url(config.css);

.B {
    border-radius: var(--border-radius-small);
    box-shadow: rgb(71, 70, 70);
    font-size: var(--font-size-midle-1);
    background-color: var(--color-blue-1);
    color: var(--color-white-default);
    width: 100px;
    height: 50px;
}

.B2 {
    border-radius: var(--border-radius-small);
    box-shadow: rgb(71, 70, 70);
    font-size: var(--font-size-midle-1);
    background-color: var(--color-blue-1);
    color: var(--color-white-default);
    width: 60px;
    height: 50px;
}

.B:hover {
    background-color: var(--color-blue-2);
}

.B2:hover {
    background-color: var(--color-blue-2);
}